## Resolucao melhorada do desafio cis 2024

In [19]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("Drugs.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1884 non-null   int64
 1   Age           1884 non-null   object
 2   Gender        1880 non-null   object
 3   Education     1881 non-null   object
 4   Country       1883 non-null   object
 5   Ethnicity     1882 non-null   object
 6   Income (USD)  23 non-null     float64
 7   Nscore        1880 non-null   float64
 8   Escore        1881 non-null   float64
 9   Oscore        1881 non-null   float64
 10  AScore        1880 non-null   float64
 11  Cscore        1879 non-null   float64
 12  Impulsive     1881 non-null   object
 13  SS            1877 non-null   float64
 14  Alcohol       1881 non-null   object
 15  Amphet        1882 non-null   object
 16  Amyl          1882 non-null   object
 17  Benzos        1882 non-null   object
 18  Caff          1880 non-null   object
 19  Cannabis      1883 non-null   object
 20  Choc          1882 non-null   object
 21  Coke          1883 non-null   object
 22  Crack         1883 non-null   object
 23  Ecstasy       1884 non-null   object
 24  Heroin        1884 non-null   object
 25  Ketamine      1884 non-null   object
 26  Legalh        1884 non-null   object
 27  LSD           1884 non-null   object
 28  Meth          1884 non-null   object
 29  Mushrooms     1884 non-null   object
 30  Nicotine      1884 non-null   object
 31  Semer         1884 non-null   object
 32  VSA           1884 non-null   object
dtypes: float64(7), int64(1), object(25)
memory usage: 485.8+ KB

In [41]:
df["Impulsive"].value_counts()

Impulsive
-0.21712    353
-0.71126    307
-1.37983    275
 0.19268    255
 0.52975    216
 0.88113    195
 1.29221    148
 1.86203    104
-2.55524     20
 2.90161      7
Name: count, dtype: int64

In [39]:
df.loc[df["Impulsive"]=='?', "Impulsive"] = np.nan
df["Impulsive"] = df["Impulsive"].apply(lambda x: float(x))

In [40]:
df["Impulsive"]

0      -0.71126
1      -1.37983
2      -1.37983
3      -0.21712
4      -1.37983
         ...
1879    0.88113
1880    0.88113
1881    0.52975
1882    1.29221
1883    0.88113
Name: Impulsive, Length: 1884, dtype: float64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1884 non-null   int64
 1   Age           1884 non-null   object
 2   Gender        1880 non-null   object
 3   Education     1881 non-null   object
 4   Country       1883 non-null   object
 5   Ethnicity     1882 non-null   object
 6   Income (USD)  23 non-null     float64
 7   Nscore        1880 non-null   float64
 8   Escore        1881 non-null   float64
 9   Oscore        1881 non-null   float64
 10  AScore        1880 non-null   float64
 11  Cscore        1879 non-null   float64
 12  Impulsive     1880 non-null   float64
 13  SS            1877 non-null   float64
 14  Alcohol       1881 non-null   object
 15  Amphet        1882 non-null   object
 16  Amyl          1882 non-null   object
 17  Benzos        1882 non-null   object
 18  Caff          1880 non-null   object
 19  Cannabis      1883 non-null   object
 20  Choc          1882 non-null   object
 21  Coke          1883 non-null   object
 22  Crack         1883 non-null   object
 23  Ecstasy       1884 non-null   object
 24  Heroin        1884 non-null   object
 25  Ketamine      1884 non-null   object
 26  Legalh        1884 non-null   object
 27  LSD           1884 non-null   object
 28  Meth          1884 non-null   object
 29  Mushrooms     1884 non-null   object
 30  Nicotine      1884 non-null   object
 31  Semer         1884 non-null   object
 32  VSA           1884 non-null   object
 33  Impulsive2    0 non-null      float64
dtypes: float64(9), int64(1), object(24)
memory usage: 500.6+ KB

- Verifiquei que existe muitos valores nulos na nossa tabela, entao decidir fazer a susbitituicao desses valores usando fillna(), pelo valor que mais aparecia so existia 1

In [55]:
df['Income (USD)']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
1879       NaN
1880       NaN
1881    1000.0
1882    1000.0
1883    1000.0
Name: Income (USD), Length: 1884, dtype: float64

In [58]:
df['Income (USD)'].value_counts()

Income (USD)
1000.0    23
Name: count, dtype: int64

In [59]:
df['Income (USD)'] = df['Income (USD)'].fillna(value=1000.0)

In [60]:
df['Income (USD)'].value_counts()

Income (USD)
1000.0    1884
Name: count, dtype: int64